.highlight {
    background-color: #e2e2e2;
    padding: .2em;
    border-radius: 5px;
    white-space: nowrap;
    @media (prefers-color-scheme: dark) {
        color: #000
    }
}
.sumRoot {
    margin-top: 0;
    line-height: 1.7;
    text-align: justify;
}